.NavigationComponent {
    background-color: #b8d1d4;
    height: 100px;
}

.NavigationComponent ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.NavigationWrapper {
    /* display: flex;
    flex-direction: row; */
}

.NavigationComponent a {
    text-decoration: none;

    
}
.NavigationComponent a {
    text-decoration: none;


}
.NavigationComponent a {
    text-decoration: none;


}